body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  /* --- Header --- */
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #424242;
    padding: 10px 20px;
  }

  .logo {
    height: 30px;
    filter: brightness(0) invert(1);
  }

  /* --- Navegação --- */
  .main-nav {
    display: flex;
    align-items: center;
  }

  .nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    display: flex;
    align-items: center;
  }

  .nav-link::before {
    content: "";
    background-color: #ffb310;
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }

  /* --- Botão --- */
  .button {
    color: #fff;
    background-color: #8a8a8a;
    border-radius: 30px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    transition: transform 100ms linear;
    
  }

  .button:hover {
    transform: scale(1.02);
  }

  /* --- Títulos e Parágrafos --- */
  h1,
  h2,
  p {
    text-align: center;
  }

  h1 {
    font-family: "Libre Baskerville", serif;
    color: #424242;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    color: #424242;
  }

  .dot {
    background-color: #ffb310;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .destaque {
    font-weight: bold;
  }

  /* --- Footer --- */
  .main-footer {
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 10px;
  }